nodeRedResources/.flows_DESKTOP-CF323HT.json.backup
[{"id":"7872a23e.3b40fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3169202e.095b2","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"sensor/init","birthQos":"0","birthPayload":"Initialised","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9566bec7.9fb8d","type":"mqtt-broker","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd01707a.14dd5","type":"ui_tab","name":"Iot","icon":"dashboard","disabled":false,"hidden":false},{"id":"efb8a12d.7bf34","type":"ui_group","name":"Temperature","tab":"bd01707a.14dd5","order":1,"disp":true,"width":"9","collapse":false},{"id":"8d4538e2.6da238","type":"ui_group","name":"Humidity","tab":"bd01707a.14dd5","order":2,"disp":true,"width":"9","collapse":false},{"id":"1625c481.aee9db","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5dd93bb7.fed244","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"1281cd74.3398b3","type":"ui_group","name":"Heat index","tab":"bd01707a.14dd5","order":4,"disp":true,"width":"9","collapse":false},{"id":"62f15d04.d0ad44","type":"mqtt in","z":"7872a23e.3b40fc","name":"Sub to sensor/temperature","topic":"sensor/temperature","qos":"2","datatype":"auto","broker":"3169202e.095b2","x":290,"y":100,"wires":[["8acd43cd.e8819","2bb8607d.e7ddb","bb8e9fff.94748","7f35876e.2e24b8"]]},{"id":"8acd43cd.e8819","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":200,"wires":[]},{"id":"4b17d147.29403","type":"aedes broker","z":"7872a23e.3b40fc","name":"Aedes  MQTT Broker on port 1883","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":320,"y":40,"wires":[["adf54a3e.7afda8"]]},{"id":"96b1ea0c.c753c8","type":"mqtt in","z":"7872a23e.3b40fc","name":"Sub to sensor/humidity","topic":"sensor/humidity","qos":"2","datatype":"auto","broker":"3169202e.095b2","x":280,"y":580,"wires":[["36351411.f1558c","3a54dca2.892364","adb1377e.0ca9b8","7f35876e.2e24b8"]]},{"id":"36351411.f1558c","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":640,"wires":[]},{"id":"adf54a3e.7afda8","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"2bb8607d.e7ddb","type":"ui_chart","z":"7872a23e.3b40fc","name":"Teamperature chart","group":"efb8a12d.7bf34","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":350,"y":240,"wires":[[]]},{"id":"bb8e9fff.94748","type":"ui_gauge","z":"7872a23e.3b40fc","name":"Temperature gauge","group":"efb8a12d.7bf34","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":280,"wires":[]},{"id":"3a54dca2.892364","type":"ui_chart","z":"7872a23e.3b40fc","name":"Humidity chart","group":"8d4538e2.6da238","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":360,"y":680,"wires":[[]]},{"id":"adb1377e.0ca9b8","type":"ui_gauge","z":"7872a23e.3b40fc","name":"Humidity Gauge","group":"8d4538e2.6da238","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":720,"wires":[]},{"id":"28c19065.6b14c","type":"influxdb out","z":"7872a23e.3b40fc","influxdb":"5dd93bb7.fed244","name":"","measurement":"Home","precision":"","retentionPolicy":"","database":"SensorData","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1130,"y":340,"wires":[]},{"id":"7f35876e.2e24b8","type":"join","z":"7872a23e.3b40fc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":590,"y":340,"wires":[["b9a68019.3654b","62cb86b1.527748"]]},{"id":"b9a68019.3654b","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"f99e8804.4a2988","type":"mqtt in","z":"7872a23e.3b40fc","name":"Sub to sensor/heatIndex","topic":"sensor/heatIndex","qos":"2","datatype":"auto","broker":"3169202e.095b2","x":290,"y":340,"wires":[["7f35876e.2e24b8","3ac786b5.ad675a","d0ec3bcb.040b98","1e4acb7.92db935"]]},{"id":"3ac786b5.ad675a","type":"ui_chart","z":"7872a23e.3b40fc","name":"Heat index chart","group":"1281cd74.3398b3","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"0","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":360,"y":460,"wires":[[]]},{"id":"d0ec3bcb.040b98","type":"ui_gauge","z":"7872a23e.3b40fc","name":"Heat index gauge","group":"1281cd74.3398b3","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":500,"wires":[]},{"id":"1e4acb7.92db935","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":420,"wires":[]},{"id":"62cb86b1.527748","type":"function","z":"7872a23e.3b40fc","name":"Create sensor object","func":"let sensorObject={\n    temperature: msg.payload[0],\n    humidity: msg.payload[1],\n    heatIndex: msg.payload[2]\n}\nmsg.payload=sensorObject\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":340,"wires":[["795da76.5640058","28c19065.6b14c"]]},{"id":"795da76.5640058","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":240,"wires":[]},{"id":"9577e07d.787a9","type":"influxdb in","z":"7872a23e.3b40fc","influxdb":"5dd93bb7.fed244","name":"Get all data","query":"SELECT * FROM \"SensorData\"..\"Home\"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":790,"y":540,"wires":[["c86cc2f3.99a9c"]]},{"id":"71735c21.5af0e4","type":"inject","z":"7872a23e.3b40fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":540,"wires":[["9577e07d.787a9"]]},{"id":"c86cc2f3.99a9c","type":"debug","z":"7872a23e.3b40fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":540,"wires":[]}]